.cardContainer {   
    margin: 2%;
}

#showme{
    visibility: hidden;
}
#bookCard:hover #showme{
    visibility:visible;
}
.arrowIconUp{
    animation: iconRotateUp 300ms ease-in-out 0s 1 normal forwards; 
}
.arrowIconDown{
    animation: iconRotateDown 300ms ease-in-out 1 reverse forwards;
}

@keyframes iconRotateUp{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }

}

@keyframes iconRotateDown{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }

}

